body {
  font-family: "Raleway", sans-serif;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/Codigo-Web.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* projects */

#my-projects .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.navbar-brand {
  width: 100px;
}
